body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.border {
    border: 1px solid black;
}

.border2 {
    border: 1px solid white;
}

.color {
    color: rgba(51, 51, 51, 1);
}

.color2 {
    color: rgba(79, 79, 79, 1);
}

.color3 {
    color: rgba(130, 130, 130, 1);
}

.color4 {
    color: rgba(189, 189, 189, 1);
}

nav {
    width: 90vw;
    min-height: 5vh;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vh;
}

.navlink {
    width: 55vw;
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon {
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 2.5vw;
}

.pop {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
}

header,
main,
#work {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    min-height: 40vw;
    /* border: 1px solid black; */
    margin-top: 10vh;
}

.con {
    width: 57vw;
    min-height: 10vw;
    /* border: 1px solid black; */
}

.headerSub {
    color: rgba(45, 156, 219, 1);
    font-size: 1.1vw;
}

h2 {
    font-size: 3vw;
    width: 35vw;
}

img {
    width: 90vw;
    border-radius: 1vw;
}

.widthSet {
    width: 25vw;
}

.p1 {
    font-weight: 400;
    line-height: 1.8vw;
    font-size: 1.2vw;
}

.sub {
    margin-top: 7vh;
    font-size: 0.9vw;
}

input {
    border: none;
    font-size: 1.1vw;
    text-indent: 1.5vw;
    flex: 1;
    height: 4vw;
    border-radius: 0.8vw;
    background-color: rgba(0, 0, 0, 0);
}

::placeholder {
    color: rgba(189, 189, 189, 1);
}

.incon {
    display: flex;
    height: 4vw;
    margin-top: 1vh;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 0.8vw;
    align-items: center;
}

.button1 {
    border: none;
    background-color: rgba(45, 156, 219, 1);
    border-radius: 0.8vw;
    color: rgba(242, 242, 242, 1);
    margin-right: 0.3vw;
    width: 6.5vw;
    height: 3.5vw;
    font-size: 1.1vw;
}

.con2 {
    width: 70vw;
    min-height: 10vw;
    /* border: 1px solid black; */
}

h3 {
    font-size: 2.2vw;
    width: 20vw;
}

.con3 {
    width: 80vw;
    min-height: 27vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 22vw;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 2vw;
    padding-left: 4vh;
    padding-right: 4vh;
    box-sizing: border-box;
}

.icon2,
.icon3,
.icon4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    width: 4.2vw;
    height: 4.2vw;
    border-radius: 1vw;
    background-color: rgba(45, 156, 219, 1);
}

.icon3 {
    background-color: rgba(39, 174, 96, 1);
}

.icon4 {
    background-color: rgba(235, 87, 87, 1);
}

.title {
    font-weight: 700;
    font-size: 1.6vw;
    margin-top: 2vh;
}

.paraCard {
    font-weight: 400;
    font-size: 1vw;
}

.btnCard {
    background-color: rgba(224, 224, 224, 1);
    border: none;
    width: 7vw;
    height: 3vw;
    font-size: 1vw;
    border-radius: 0.8vw;
    margin-bottom: 5vh;
}

.middle {
    background-color: rgba(45, 156, 219, 1);
    color: white;
}

.middleCard {
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.imgIcon {
    width: 2vw;
}

#work {
    min-height: 80vw
}

.widthSet2 {
    width: 25vw;
    margin-bottom: 0;
}

.con4 {
    width: 70vw;
    /* min-height: 80vw; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
}

.work {
    width: 34.5vw;
    height: 40vw;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgWork {
    width: 34.5vw;
    height: auto;
    border-radius: 1.5vw;
}

.subWork {
    font-weight: 300;
    font-size: 1vw;
    margin-top: 2vh;
}

.titleWork {
    font-size: 1.5vw;
}

.marginSet {
    margin-top: 12vw;
}

.marginSet2 {
    margin-bottom: 10vw;
}

.flexSet {
    height: 51vw;
}

.seeMore {
    width: 34.5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.seeLink {
    color: rgba(45, 156, 219, 1);
    font-size: 1.5vw;
}

.arr {
    width: 1vw;
    height: 0.5vw;
    margin-left: 1.5vh;
}

.centerAlign {
    display: flex;
    justify-content: center;
}

.teamSub {
    color: rgba(235, 87, 87, 1);
}

.paraTeam {
    width: 20vw;
}

.marginSet3 {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.teamCon {
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teamCon2 {
    height: 40vw;
    width: 42vw;
    display: flex;
}

.teamRow {
    width: 50%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.img1 {
    width: 100%;
}

.round {
    border-radius: 2vw;
}

.img2 {
    width: 80%;
    margin-bottom: 1.2vw;
    margin-left: 1.2vw;
}

.img3 {
    width: 90%;
    margin-left: 1.2vw;
}

.ws2 {
    width: 55vw;
}

.auth {
    width: 20vw;
    height: 7vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.authImg {
    width: 6vw;
}

.info {
    height: 7vw;
    width: 11vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.fontSet {
    font-weight: 500;
    width: fit-content;
}

.contact {
    width: 100%;
    min-height: 30vw;
    box-sizing: border-box;
    background-color: rgba(16, 14, 29, 1);
}

.ws3 {
    height: 25vw;
    display: flex;
    margin-bottom: 5vh;
}

.cb1 {
    width: 30%;
}

.cb2 {
    width: 30%;
}

.cb3 {
    width: 40%;
}

.color4 {
    color: rgba(242, 242, 242, 1);
}

.contVersion {
    flex-direction: column;
    width: fit-content;
    height: 12vw;
    margin-top: 7vh;
    align-items: flex-start;
}

.fontSet2 {
    font-weight: 300;
    font-size: 1.2vw;
}

.marginSet4 {
    margin-top: 7vh;
}

.iconSet {
    width: 7vw;
    height: 2vw;
    display: flex;
    align-items: center;
}

.iconCon {
    width: 4vw;
    height: 1vw;
    transform: scale(1.5);
}

#copy-right {
    margin-top: -1px;
    width: 100%;
    text-align: center;
    font-family: poppins;
    font-weight: 200;
    color: rgba(242, 242, 242, 1);
    font-size: 1vw;
}

span {
    font-weight: 400;
}

#menuIcon {
    display: none;
    position: absolute;
    z-index: 1;
}

@media screen and (max-width: 400px) {

    header,
    main,
    #work {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95vw;
        min-height: 40vw;
        /* border: 1px solid black; */
        margin-top: 10vh;
    }

    main {
        margin-top: 3vw;
    }

    .icon {
        font-size: 9vw;
    }

    #menuIcon {
        display: inline-block;
        position: static;
        width: 10vw;
    }

    .navlink {
        align-items: flex-start;
        flex-direction: column;
        height: 80vw;
        width: 50vw;
    }

    a {
        font-size: 4vw;
        width: 10vw;
    }

    .white {
        color: white;
        font-weight: 300;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0.5vw;
        background-color: rgba(0, 0, 0, 0.9);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .headerSub {
        font-size: 4vw;
    }

    h2 {
        font-size: 7vw;
        width: 80vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .con {
        width: 70vw;
    }

    img {
        width: 100%;
        border-radius: 2vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    .widthSet {
        width: 55vw;
    }

    .p1 {
        font-size: 2.2vw;
        line-height: 3.2vw;
    }

    .sub {
        font-size: 2.2vw;
        margin-top: 5vw;
    }

    .button1 {
        font-size: 2.2vw;
        height: 6.5vw;
        width: 10vw;
        border-radius: 2vw;
    }

    .incon {
        height: 8vw;
        margin-top: 1vh;
        border-radius: 2vw;
    }

    input {
        font-size: 2.2vw;
    }

    h3 {
        font-size: 7vw;
        width: 70vw;

    }

    #service {
        margin-top: 20vw;
    }

    .con3 {
        margin-top: 10vw;
        flex-direction: column;
    }

    .card {
        width: 80vw;
        min-height: 60vw;
        margin-bottom: 10vw;
    }

    .icon2,
    .icon3,
    .icon4 {
        width: 15vw;
        height: 15vw;
        border-radius: 4vw;
    }

    .title {
        font-size: 7vw;
    }

    .paraCard {
        font-size: 4.5vw;
    }

    .btnCard {
        width: 35vw;
        height: 15vw;
        font-size: 4.5vw;
        border-radius: 3vw;
        margin-top: 5vw;
    }

    .imgIcon {
        width: 6vw;
    }

    .widthSet2 {
        width: 80vw;
        margin-bottom: 0;
    }

    .con4 {
        width: 90vw;
        height: 500vw;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .work {
        width: 90vw;
        height: fit-content;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .imgWork {
        width: 90vw;
        height: auto;
        border-radius: 4vw;
    }

    .subWork {
        font-size: 3vw;
        margin-top: 2vh;
    }

    .titleWork {
        font-size: 5vw;
    }

    .marginSet {
        margin-top: 0;
    }

    .marginSet2 {
        margin-bottom: 0;
    }

    .flexSet {
        height: fit-content;
    }

    .seeMore {
        width: 40vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10vw;
    }

    .seeLink {
        font-size: 5vw;
        width: 30vw;
    }

    .arr {
        width: 1vw;
        height: 0.5vw;
        transform: scale(4);
    }

    .centerAlign {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 85vw;
        margin-top: 50vw;
    }

    .teamSub {
        font-size: 5vw;
    }

    .hTeam {
        font-size: 9vw;
    }

    .paraTeam {
        width: 80vw;
    }

    .teamCon {
        height: fit-content;
        width: 85vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .teamCon2 {
        height: 90vw;
        width: 85vw;
        display: flex;
        margin-top: 5vw;
    }

    .teamRow {
        width: 50%;
        height: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .img1 {
        width: 100%;
    }

    .round {
        border-radius: 4vw;
    }

    .img2 {
        width: 80%;
        margin-bottom: 1vw;
        margin-left: 2vw;
    }

    .img3 {
        width: 90%;
        margin-left: 2vw;
        margin-top: 1vw;
    }

    #client {
        margin-top: 25vw;
        margin-bottom: 25vw;
    }

    .ws2 {
        width: 90vw;
        margin-bottom: 0;
    }

    .con5 {
        height: 90vw;
    }

    .auth {
        width: 90vw;
        height: 20vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .authImg {
        width: 20vw;
    }

    .info {
        height: 20vw;
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .fontSet {
        font-size: 5vw;
    }

    .fontSet3 {
        font-size: 7vw;
    }

    .contact {
        width: 100%;
        height: 175vw;
        box-sizing: border-box;
        background-color: rgba(16, 14, 29, 1);
    }

    .ws3 {
        margin-top: 15vw;
        height: 170vw;
        display: flex;
        margin-bottom: 5vh;
        flex-direction: column;
    }

    .cb1 {
        height: 30%;
    }

    .cb2 {
        height: 30%;
    }

    .cb3 {
        margin-top: 4vw;
        height: 40%;
        transform: scale(1.2);
    }

    a {
        width: fit-content;
    }

    .contVersion {
        flex-direction: column;
        width: fit-content;
        height: 100%;
        margin-top: 0vh;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .fontSet2 {
        font-weight: 300;
        font-size: 4vw;
    }

    .marginSet4 {
        margin-top: 7vh;
    }

    .iconSet {
        width: 20vw;
        height: 10vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .iconCon {
        width: 5vw;
        height: 3vw;
        transform: scale(1.5);
    }

    #copy-right {
        font-size: 4vw;
        margin-bottom: 8vw;
    }

    span {
        font-weight: 400;
    }


}