.label {
    font-size: 0.8vw;
    font-family: 'Ubuntu Mono', monospace;
    margin-bottom: 0.8vh;
}

label {
    font-size: 0.9vw;
    color: #333333;
}

.inputCon {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input {
    height: 7vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    width: 13vw;
    border: 2px solid #828282;
    padding-left: 1.5vw;
    border-radius: 0.5vw;
}

.default:hover,
.hover {
    border: 2px solid #333333;
}

.default:focus,
.deffocus {
    border: 2px solid #2962FF;
    outline: none;
}

.defaultCon:focus-within>div>label,
.deffocusCon>div>label {
    color: #2962FF;
}

.error,
.errfocus {
    border: 2px solid #D32F2F;
}

.error:hover {
    border: 2px solid #333333;
}

.error:focus {
    border: 2px solid #D32F2F;
    outline: none;
}

.errCon>div>label,
.errfocusCon>div>label {
    color: #D32F2F;
}

.defText,
.errText {
    font-size: 0.8vw;
    margin-top: 1vh;
}

.defText {
    color: #828282;
}

.errText {
    color: #D32F2F;
}

.startIcon,
.endIcon {
    position: absolute;
    padding-top: 2.5vh;
    transform: scale(0.7);
}

.endIcon {}