button {
    box-shadow: 0px 2px 3px 0px rgba(51, 51, 51, 0.2);
    border: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8vw;
    box-sizing: border-box;
    width: 5vw;
    height: 2vw;
    border-radius: 0.2vw;
    font-weight: 500;
    background-color: rgb(224, 224, 224);
    color: rgb(63, 63, 63);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 6vw;
    height: 2.5vw;
}

.sm {
    transform: scale(0.8);
}

.md {
    transform: scale(1.1);
}

.lg {
    transform: scale(1.2);
}

.disable,
#disabled {
    box-shadow: none;
}

#disabled {
    color: rgba(158, 158, 158, 1);
}

.default:hover,
.default:focus,
.focused {
    background-color: rgba(174, 174, 174, 1);
}

.outline,
.outline-focused,
.text,
.text-focused {
    background-color: white;
    color: rgba(61, 90, 254, 1);
    box-shadow: none;
    border: 1px solid #3D5AFE;
}

.outline:hover,
.outline-focused {
    background-color: rgba(41, 98, 255, 0.1);
}

.text,
.text-focused {
    border: none;
}

.text:hover,
.text-focused {
    background-color: rgba(41, 98, 255, 0.1);
}

.butCon {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    width: 20vw;
}

label {
    font-size: 0.8vw;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined {
    transform: scale(0.8);
}

.default {
    background-color: rgba(224, 224, 224, 1);
}

.default:hover,
.defaulthover {
    background-color: rgba(174, 174, 174, 1);
}

.primary {
    background-color: rgba(41, 98, 255, 1);
    color: white;
}

.primary:hover,
.primaryhover {
    background-color: rgba(0, 57, 203, 1);
    color: white;
}

.danger {
    background-color: rgba(211, 47, 47, 1);
    color: white;
}

.danger:hover,
.dangerhover {
    background-color: rgba(154, 0, 7, 1);
    color: white;
}

.secondary {
    background-color: rgba(69, 90, 100, 1);
    color: white;
}

.secondary:hover,
.secondaryhover {
    background-color: rgba(28, 49, 58, 1);
    color: white;
}